<header>
    <nav class="navbar">
        <div class="navbar-brand">
            Cannabis Calendar
        </div>
        <ul class="navbar-menu">
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/plants">My Plants</a></li>
            <li><a href="/strains">Strains</a></li>
            <li id="adminLink" class="hidden"><a href="/admin">Admin</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a id="logoutLink" href="#">Logout</a></li>
        </ul>
    </nav>
</header>