<link rel="stylesheet" href="/sites/styles/side-panel.css">

<div class="side-panel">
    <div id="ownPlants-list">
      <h4>Plants</h4>
      <div id="OwnPlantslist-Container"></div>
    </div>
  </div>
  