<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/sites/styles/modal.css">
    <link rel="stylesheet" href="/sites/styles/popup.css">
</head>
<body>
    <div id="popupContainer">
        <div class="popupContent">
            <span class="closeBtn">&times;</span>
            <%- include('../popups/' + body) %>
        </div>
    </div>
    <script src="/sites/scripts/global.js" defer type="module"></script>
</body>
</html>
