<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/sites/styles/global.css">
    <link rel="stylesheet" href="/sites/styles/login.css">
</head>
<body>
    <div class="login-container">
        <div id="loginContent" class="content-visible">
            <h2>Login</h2>
            <form id="loginForm">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <div class="switch-button switch-to-forgot-password">Forgot password? Click here</div>
            <div class="switch-button switch-to-register">No account yet? Register here</div>
        </div>
        <div id="registerContent" class="content-hidden">
            <h2>Register</h2>
            <form id="registerForm">
                <input type="text" placeholder="Username" name="username" required>
                <input type="email" placeholder="Email Address" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Register</button>
            </form>
            <div class="switch-button switch-to-login">Already registered? Login here</div>
        </div>
        <div id="forgotPasswordContent" class="content-hidden">
            <h2>Forgot Password</h2>
            <form id="forgotPasswordForm">
                <input type="email" placeholder="Email Address" name="email" required>
                <button type="submit">Reset Password</button>
            </form>
            <div class="switch-button switch-to-login">Back to Login</div>
        </div>
    </div>
    <script type="module" src="/sites/scripts/auth/init/loginInit.js"></script>
</body>
</html>
