<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/sites/styles/strains.css">
</head>
<body>
<div class="main-content">
    <div class="strain-content">
        <div class="ownPlants-list">
            <h2>Own Plants</h2>
            <input type="text" id="searchInputPlants" placeholder="Search own plants..." />
            <div id="loaderPlants" class="loader"></div>
            <div id="OwnPlantslist-Container" class="list-container"></div>
        </div>
        <div class="DatabasePlants-list">
            <h2>Strain List</h2>
            <input type="text" id="searchInputStrains" placeholder="Search strains..." />
            <div id="loaderStrains" class="loader"></div>
            <div id="DatabasePlantsList-Container" class="list-container"></div>
        </div>
    </div>
</div>
<script type="module" src="sites/scripts/main/strainsMain.js" defer></script>
</body>
</html>